@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-icon {
    @apply block;
  }
  .active .nav-icon {
    @apply hidden;
  }
  .nav-icon-a {
    @apply hidden;
  }
  .active .nav-icon-a {
    @apply block;
  }
  .play-icon {
    @apply transition-all hover:cursor-pointer hover:scale-110
  }
  .play-button {
    @apply rounded-full bg-white/[0.07] p-3 text-xs flex backdrop-blur-sm
  }
};

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  /* overflow-x: hidden; */
  font-family: 'Quicksand', sans-serif;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scroll bar in chrome  */
*::-webkit-scrollbar {
  display: none;
}